.about-section {
  padding: 15px 0;

  .about-img {
    text-align: center;
    padding: 15px 0;
  }
}

.table-odd {
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

.table-even {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px 0;
}

.gallery-item {
  padding: 10px 0;
}

.text-about {
  padding: 10px 0;
}
