@import "../systems/variables";

.team-department,
.team-location,
.all-team a {
  color: $font_dgrey;
  padding: 7px 15px;

  &:hover {
    color: $font_dark;
    background: $widget_item;
    text-decoration: none;
    border-radius: 5px;
  }
}

.team-text {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;

  .active {
    color: $font_white;
    background: $item_color;
    border-radius: 5px;
  }
}

.team-row {
  margin: 30px 0;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  .member-img {
    border-radius: 150px;
  }

  .member-err-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 150px;
  }

  .member-title {
    padding: 5px 0 0;
    color: $font_dark;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $font_dgrey;
    }
  }

  .member-position {
    color: $font_dgrey;
  }

  .member-department,
  .member-location {
    color: $font_dgrey;
    font-size: 14px;
    font-style: italic;
  }

  p {
    margin: 0.1rem 0;
  }
}

.team-err {
  margin: 10% 36%;
}
