@import "../systems/variables";

.fbi-offices-list {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  .select2 {
    width: 140px !important;
  }
}

.spinner-grow {
  display: flex;
  margin: 0 auto;
}

.fbi-data {
  justify-content: center;

  .fbi-card {
    margin: 15px 5px;
    max-width: 360px;
    height: 350px;
    text-align: center;
    box-shadow: 0 10px 20px 0 #dddddd5c;
    overflow: hidden;

    h6 {
      color: $font_dgrey;
      font-weight: 600;
      padding: 5px 0;
    }

    a:hover {
      text-decoration: none;
    }

    .fbi-card-rew {
      font-style: italic;
      color: $font_dgrey;
      padding: 7px 0;
    }
  }
}

.fbi-err {
  font-size: 28px;
  font-weight: 700;
  color: $item_color;
  padding: 40px 0;
  margin: 0 auto;
}

.fbi-pagination ul {
  display: flex;
  justify-content: center;

  li {
    background-color: $widget_item;
    padding: 5px 13px;
    border-radius: 50%;
    margin: 7px;

    &:hover {
      cursor: pointer;
    }

    span {
      color: $font_dgrey;
    }
  }
}

.fbi-active {
  background-color: $item_color !important;

  span {
    color: $font_white !important;
  }
}
