@import "../systems/variables";

.footer_widget {
  padding: 30px 0;

  li {
    list-style: none;
  }

  .widgettitle {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 20px;
  }

  a {
    color: $font_grey;

    &:hover {
      color: $item_color;
      text-decoration: none;
    }
  }
}

.footer_info {
  display: flex;
  justify-content: space-between;

  li {
    display: inline-flex;

    a {
      color: $font_grey;
      padding: 5px 11px;

      &:hover {
        background-color: $item_color;
        color: $font_white;
        text-decoration: none;
      }
    }
  }
}

.footer-form {
  position: relative;

  input {
    height: 59px;
    max-width: 288px;
    border-radius: 5px;
    background-color: $widget_bg;
    border: none;
    padding: 0 0 0 10px;
  }

  .button {
    height: 38px;
    padding: 0 25px;
    color: $font_white;
    background-color: $item_color;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 0;

    @media screen and (max-width: 768px) {
      right: -60px;
    }
  }
}
