@import "../systems/variables";

.footer_widget {
  padding: 30px 0;

  li {
    list-style: none;
  }

  .widgettitle {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 20px;
  }

  a {
    color: $font_grey;

    &:hover {
      color: $item_color;
      text-decoration: none;
    }
  }
}

.footer_info {
  display: flex;
  justify-content: space-between;

  li {
    display: inline-flex;

    a {
      color: $font_grey;
      padding: 5px 11px;

      &:hover {
        background-color: $item_color;
        color: $font_white;
        text-decoration: none;
      }
    }
  }
}
