@import "../systems/variables";

.sidebar_main .widget {
  background: $widget_bg;
  padding: 30px;
  margin: 0 0 30px;
}

.sidebar_main {
  h2 {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      padding-top: 15px;
      border-bottom: 1px solid $widget_item;
    }
  }

  li {
    border-bottom: 1px solid $widget_item;
    padding: 15px 0;

    a {
      color: $font_dgrey;

      &:hover {
        text-decoration: none;
        color: $item_color;
      }
    }
  }
}

.screen-reader-text {
  display: none;
}

.search-field {
  width: 300px;
  height: 50px;
  border: 1px solid $widget_item;
  font-size: 13px;
  color: $font_dgrey;
  padding: 0 0 0 20px;
}

.search-submit {
  width: 300px;
  padding: 15px 0;
  background: $item_color;
  color: $font_white;
  border: 1px solid $widget_item;
  text-transform: uppercase;
}

.widget_tag_cloud .tagcloud a {
  border: 1px solid $widget_item;
  background: $font_white;
  color: $font_dgrey;
  padding: 4px 20px;
  font-size: 13px !important;

  &:hover {
    background-color: $item_color;
    color: $font_white;
    text-decoration: none;
  }
}
