@import "../systems/variables";

.single_section {
  padding: 100px 0 0;

  .single_img img {
    width: 100%;
    height: auto;
  }

  .single_category {
    color: $font_grey;

    a {
      color: $font_grey;

      &:hover {
        color: $item_color;
        text-decoration: none;
      }
    }
  }

  .single_tags {
    color: $font_grey;
    padding-top: 15px;
    border-top: 1px solid $widget_item;

    a {
      border: 1px solid $widget_item;
      background: $font_white;
      color: $font_grey;
      padding: 4px 20px;
      font-size: 13px !important;

      &:hover {
        background-color: $item_color;
        color: $font_white;
        text-decoration: none;
      }
    }
  }
}
